@font-face {
    font-family: Luciole;
    src: url("/assets/fonts/Luciole-Regular.ttf");
}

:root {
    --title-font-family: Luciole,Helvetica,Arial,sans-serif;
    --content-font-family: Georgia,"Times New Roman",Times,serif;
}

body {
    font-family: var(--content-font-family);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font-family);
}
